<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yougou.itemcenter.mapper.ItemMapper">
    <resultMap id="BaseResultMap" type="com.yougou.itemcenter.domain.meta.Item">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="goodsNo" property="goodsno" jdbcType="VARCHAR"/>
        <result column="marketPrice" property="marketprice" jdbcType="DECIMAL"/>
        <result column="salePrice" property="saleprice" jdbcType="DECIMAL"/>
        <result column="infoFlag" property="infoflag" jdbcType="TINYINT"/>
        <result column="showPicPath" property="showpicpath" jdbcType="VARCHAR"/>
        <result column="lowCategoryId" property="lowcategoryid" jdbcType="BIGINT"/>
        <result column="brandId" property="brandid" jdbcType="BIGINT"/>
        <result column="productName" property="productname" jdbcType="VARCHAR"/>
        <result column="shopId" property="shopid" jdbcType="BIGINT"/>
        <result column="carriageTempId" property="carriagetempid" jdbcType="BIGINT"/>
        <result column="saleMode" property="salemode" jdbcType="TINYINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="businessId" property="businessid" jdbcType="BIGINT"/>
        <result column="isDelete" property="isdelete" jdbcType="TINYINT"/>
        <result column="gmtModified" property="gmtmodified" jdbcType="TIMESTAMP"/>
        <result column="gmtCreate" property="gmtcreate" jdbcType="TIMESTAMP"/>
        <result column="flag" property="flag" jdbcType="TINYINT"/>
        <result column="feature" property="feature" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, goodsNo, marketPrice, salePrice, infoFlag, showPicPath, lowCategoryId, brandId,
        productName, shopId, carriageTempId, saleMode, status, businessId, isDelete, gmtModified,
        gmtCreate, flag, feature
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yougou.itemcenter.domain.example.ItemExample">
        select
        <if test="distinct">
            distinct
        </if>
        'false' as QUERYID,
        <include refid="Base_Column_List"/>
        from item
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limitStart != null">
            limit #{limitStart} , #{limitEnd}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from item
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from item
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.yougou.itemcenter.domain.meta.Item">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into item (goodsNo, marketPrice, salePrice,
        infoFlag, showPicPath, lowCategoryId,
        brandId, productName, shopId,
        carriageTempId, saleMode, status,
        businessId, isDelete, gmtModified,
        gmtCreate, flag, feature
        )
        values (#{goodsno,jdbcType=VARCHAR}, #{marketprice,jdbcType=DECIMAL}, #{saleprice,jdbcType=DECIMAL},
        #{infoflag,jdbcType=TINYINT}, #{showpicpath,jdbcType=VARCHAR}, #{lowcategoryid,jdbcType=BIGINT},
        #{brandid,jdbcType=BIGINT}, #{productname,jdbcType=VARCHAR}, #{shopid,jdbcType=BIGINT},
        #{carriagetempid,jdbcType=BIGINT}, #{salemode,jdbcType=TINYINT}, #{status,jdbcType=TINYINT},
        #{businessid,jdbcType=BIGINT}, #{isdelete,jdbcType=TINYINT}, #{gmtmodified,jdbcType=TIMESTAMP},
        #{gmtcreate,jdbcType=TIMESTAMP}, #{flag,jdbcType=TINYINT}, #{feature,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.yougou.itemcenter.domain.meta.Item">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsno != null">
                goodsNo,
            </if>
            <if test="marketprice != null">
                marketPrice,
            </if>
            <if test="saleprice != null">
                salePrice,
            </if>
            <if test="infoflag != null">
                infoFlag,
            </if>
            <if test="showpicpath != null">
                showPicPath,
            </if>
            <if test="lowcategoryid != null">
                lowCategoryId,
            </if>
            <if test="brandid != null">
                brandId,
            </if>
            <if test="productname != null">
                productName,
            </if>
            <if test="shopid != null">
                shopId,
            </if>
            <if test="carriagetempid != null">
                carriageTempId,
            </if>
            <if test="salemode != null">
                saleMode,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="businessid != null">
                businessId,
            </if>
            <if test="isdelete != null">
                isDelete,
            </if>
            <if test="gmtmodified != null">
                gmtModified,
            </if>
            <if test="gmtcreate != null">
                gmtCreate,
            </if>
            <if test="flag != null">
                flag,
            </if>
            <if test="feature != null">
                feature,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsno != null">
                #{goodsno,jdbcType=VARCHAR},
            </if>
            <if test="marketprice != null">
                #{marketprice,jdbcType=DECIMAL},
            </if>
            <if test="saleprice != null">
                #{saleprice,jdbcType=DECIMAL},
            </if>
            <if test="infoflag != null">
                #{infoflag,jdbcType=TINYINT},
            </if>
            <if test="showpicpath != null">
                #{showpicpath,jdbcType=VARCHAR},
            </if>
            <if test="lowcategoryid != null">
                #{lowcategoryid,jdbcType=BIGINT},
            </if>
            <if test="brandid != null">
                #{brandid,jdbcType=BIGINT},
            </if>
            <if test="productname != null">
                #{productname,jdbcType=VARCHAR},
            </if>
            <if test="shopid != null">
                #{shopid,jdbcType=BIGINT},
            </if>
            <if test="carriagetempid != null">
                #{carriagetempid,jdbcType=BIGINT},
            </if>
            <if test="salemode != null">
                #{salemode,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="businessid != null">
                #{businessid,jdbcType=BIGINT},
            </if>
            <if test="isdelete != null">
                #{isdelete,jdbcType=TINYINT},
            </if>
            <if test="gmtmodified != null">
                #{gmtmodified,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtcreate != null">
                #{gmtcreate,jdbcType=TIMESTAMP},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=TINYINT},
            </if>
            <if test="feature != null">
                #{feature,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.yougou.itemcenter.domain.example.ItemExample" resultType="java.lang.Integer">
        select count(*) from item
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="com.yougou.itemcenter.domain.meta.Item">
        update item
        <set>
            <if test="goodsno != null">
                goodsNo = #{goodsno,jdbcType=VARCHAR},
            </if>
            <if test="marketprice != null">
                marketPrice = #{marketprice,jdbcType=DECIMAL},
            </if>
            <if test="saleprice != null">
                salePrice = #{saleprice,jdbcType=DECIMAL},
            </if>
            <if test="infoflag != null">
                infoFlag = #{infoflag,jdbcType=TINYINT},
            </if>
            <if test="showpicpath != null">
                showPicPath = #{showpicpath,jdbcType=VARCHAR},
            </if>
            <if test="lowcategoryid != null">
                lowCategoryId = #{lowcategoryid,jdbcType=BIGINT},
            </if>
            <if test="brandid != null">
                brandId = #{brandid,jdbcType=BIGINT},
            </if>
            <if test="productname != null">
                productName = #{productname,jdbcType=VARCHAR},
            </if>
            <if test="shopid != null">
                shopId = #{shopid,jdbcType=BIGINT},
            </if>
            <if test="carriagetempid != null">
                carriageTempId = #{carriagetempid,jdbcType=BIGINT},
            </if>
            <if test="salemode != null">
                saleMode = #{salemode,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="businessid != null">
                businessId = #{businessid,jdbcType=BIGINT},
            </if>
            <if test="isdelete != null">
                isDelete = #{isdelete,jdbcType=TINYINT},
            </if>
            <if test="gmtmodified != null">
                gmtModified = #{gmtmodified,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtcreate != null">
                gmtCreate = #{gmtcreate,jdbcType=TIMESTAMP},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=TINYINT},
            </if>
            <if test="feature != null">
                feature = #{feature,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yougou.itemcenter.domain.meta.Item">
        update item
        set goodsNo = #{goodsno,jdbcType=VARCHAR},
        marketPrice = #{marketprice,jdbcType=DECIMAL},
        salePrice = #{saleprice,jdbcType=DECIMAL},
        infoFlag = #{infoflag,jdbcType=TINYINT},
        showPicPath = #{showpicpath,jdbcType=VARCHAR},
        lowCategoryId = #{lowcategoryid,jdbcType=BIGINT},
        brandId = #{brandid,jdbcType=BIGINT},
        productName = #{productname,jdbcType=VARCHAR},
        shopId = #{shopid,jdbcType=BIGINT},
        carriageTempId = #{carriagetempid,jdbcType=BIGINT},
        saleMode = #{salemode,jdbcType=TINYINT},
        status = #{status,jdbcType=TINYINT},
        businessId = #{businessid,jdbcType=BIGINT},
        isDelete = #{isdelete,jdbcType=TINYINT},
        gmtModified = #{gmtmodified,jdbcType=TIMESTAMP},
        gmtCreate = #{gmtcreate,jdbcType=TIMESTAMP},
        flag = #{flag,jdbcType=TINYINT},
        feature = #{feature,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>