<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yougou.itemcenter.mapper.SkuMapper">
    <resultMap id="BaseResultMap" type="com.yougou.itemcenter.domain.meta.Sku">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="productId" property="productid" jdbcType="BIGINT"/>
        <result column="barCode" property="barcode" jdbcType="VARCHAR"/>
        <result column="marketPrice" property="marketprice" jdbcType="DECIMAL"/>
        <result column="salePrice" property="saleprice" jdbcType="DECIMAL"/>
        <result column="thumb" property="thumb" jdbcType="VARCHAR"/>
        <result column="IsDelete" property="isdelete" jdbcType="INTEGER"/>
        <result column="gmtModified" property="gmtmodified" jdbcType="TIMESTAMP"/>
        <result column="gmtCreate" property="gmtcreate" jdbcType="TIMESTAMP"/>
        <result column="skuUrl" property="skuurl" jdbcType="VARCHAR"/>
        <result column="flag" property="flag" jdbcType="TINYINT"/>
        <result column="feature" property="feature" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, productId, barCode, marketPrice, salePrice, thumb, IsDelete, gmtModified, gmtCreate,
        skuUrl, flag, feature
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yougou.itemcenter.domain.example.SkuExample">
        select
        <if test="distinct">
            distinct
        </if>
        'false' as QUERYID,
        <include refid="Base_Column_List"/>
        from sku
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limitStart != null">
            limit #{limitStart} , #{limitEnd}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from sku
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sku
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.yougou.itemcenter.domain.meta.Sku">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sku (productId, barCode, marketPrice,
        salePrice, thumb, IsDelete,
        gmtModified, gmtCreate, skuUrl,
        flag, feature)
        values (#{productid,jdbcType=BIGINT}, #{barcode,jdbcType=VARCHAR}, #{marketprice,jdbcType=DECIMAL},
        #{saleprice,jdbcType=DECIMAL}, #{thumb,jdbcType=VARCHAR}, #{isdelete,jdbcType=INTEGER},
        #{gmtmodified,jdbcType=TIMESTAMP}, #{gmtcreate,jdbcType=TIMESTAMP}, #{skuurl,jdbcType=VARCHAR},
        #{flag,jdbcType=TINYINT}, #{feature,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.yougou.itemcenter.domain.meta.Sku">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sku
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productid != null">
                productId,
            </if>
            <if test="barcode != null">
                barCode,
            </if>
            <if test="marketprice != null">
                marketPrice,
            </if>
            <if test="saleprice != null">
                salePrice,
            </if>
            <if test="thumb != null">
                thumb,
            </if>
            <if test="isdelete != null">
                IsDelete,
            </if>
            <if test="gmtmodified != null">
                gmtModified,
            </if>
            <if test="gmtcreate != null">
                gmtCreate,
            </if>
            <if test="skuurl != null">
                skuUrl,
            </if>
            <if test="flag != null">
                flag,
            </if>
            <if test="feature != null">
                feature,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productid != null">
                #{productid,jdbcType=BIGINT},
            </if>
            <if test="barcode != null">
                #{barcode,jdbcType=VARCHAR},
            </if>
            <if test="marketprice != null">
                #{marketprice,jdbcType=DECIMAL},
            </if>
            <if test="saleprice != null">
                #{saleprice,jdbcType=DECIMAL},
            </if>
            <if test="thumb != null">
                #{thumb,jdbcType=VARCHAR},
            </if>
            <if test="isdelete != null">
                #{isdelete,jdbcType=INTEGER},
            </if>
            <if test="gmtmodified != null">
                #{gmtmodified,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtcreate != null">
                #{gmtcreate,jdbcType=TIMESTAMP},
            </if>
            <if test="skuurl != null">
                #{skuurl,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=TINYINT},
            </if>
            <if test="feature != null">
                #{feature,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.yougou.itemcenter.domain.example.SkuExample" resultType="java.lang.Integer">
        select count(*) from sku
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="com.yougou.itemcenter.domain.meta.Sku">
        update sku
        <set>
            <if test="productid != null">
                productId = #{productid,jdbcType=BIGINT},
            </if>
            <if test="barcode != null">
                barCode = #{barcode,jdbcType=VARCHAR},
            </if>
            <if test="marketprice != null">
                marketPrice = #{marketprice,jdbcType=DECIMAL},
            </if>
            <if test="saleprice != null">
                salePrice = #{saleprice,jdbcType=DECIMAL},
            </if>
            <if test="thumb != null">
                thumb = #{thumb,jdbcType=VARCHAR},
            </if>
            <if test="isdelete != null">
                IsDelete = #{isdelete,jdbcType=INTEGER},
            </if>
            <if test="gmtmodified != null">
                gmtModified = #{gmtmodified,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtcreate != null">
                gmtCreate = #{gmtcreate,jdbcType=TIMESTAMP},
            </if>
            <if test="skuurl != null">
                skuUrl = #{skuurl,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=TINYINT},
            </if>
            <if test="feature != null">
                feature = #{feature,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yougou.itemcenter.domain.meta.Sku">
        update sku
        set productId = #{productid,jdbcType=BIGINT},
        barCode = #{barcode,jdbcType=VARCHAR},
        marketPrice = #{marketprice,jdbcType=DECIMAL},
        salePrice = #{saleprice,jdbcType=DECIMAL},
        thumb = #{thumb,jdbcType=VARCHAR},
        IsDelete = #{isdelete,jdbcType=INTEGER},
        gmtModified = #{gmtmodified,jdbcType=TIMESTAMP},
        gmtCreate = #{gmtcreate,jdbcType=TIMESTAMP},
        skuUrl = #{skuurl,jdbcType=VARCHAR},
        flag = #{flag,jdbcType=TINYINT},
        feature = #{feature,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>